@font-face {
  font-family: 'Roboto mono';
  src: url('chrome-extension://eaeoifcdhdpbinfdhgjehgbpelmdgjpm/fonts/RobotoMono-Regular.woff') format('woff'),
  url('chrome-extension://eaeoifcdhdpbinfdhgjehgbpelmdgjpm/fonts/RobotoMono-Regular.woff2') format('woff2');
  font-weight: 400;
}

#ext-font-radar {
  z-index: 10000;
  position: fixed;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}

#ext-font-radar .font-radar-popup {
  font-family: 'Roboto mono', monospace;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 1px 3px 5px 0px #6d6d6d;
  padding: 40px 30px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

#ext-font-radar .fr-title {
  font-family: 'Roboto mono', monospace;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 6px;
  color: #7a7a7a;
  margin-left: auto;
}

#ext-font-radar .fr-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

#ext-font-radar .fr-wrapper + .fr-wrapper {
  margin-top: 12px;
}

#ext-font-radar .font-color-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#ext-font-radar .fr-wrapper.font-color-wrapper {
  margin-top: 22px;
}

#ext-font-radar .fr-color-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#ext-font-radar .fr-color-dot {
  width: 50px;
  height: auto;
  background: transparent;
  border-radius: 10%;
}

#ext-font-radar .fr-data {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 12px 13px;
  text-align: center;
  flex-grow: 1;
}

#ext-font-radar .fr-wrapper.font-family-wrapper {
  padding-top: 0;
}

#ext-font-radar .fr-popup-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  opacity: 0;
  z-index: 2;
  background-position: center;
  cursor: pointer;
  background: linear-gradient(180.01deg, #0500FF 0.01%, rgba(5, 0, 253, 0.25) 77.34%);
}

#ext-font-radar .font-radar-popup:hover .fr-popup-mask {
  opacity: 1;
}
