<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>

  <style>
    body {
      font-family: serif;
      color: DarkSlateGray;
    }
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .black {
      color: black;
    }
    .red {
      color: red;
    }
    .sans {
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <h1>Title</h1>
  <p class="black">Black Text</p>
  <p class="red">Red Text</p>
  <p class="sans">Sans text</p>
</body>
</html>
